/* Hide scrollbar utility */
.scrollbar-hide {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
 